body {
  background-image: url("img/1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(37, 0, 48);
}

  
  header {
    background-color:transparent;
    border: 1.5px solid #42005e;
    color: #fff;
    text-align: center;
    padding: 1px 0;
  }
  
  main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .crypto-list, .crypto-details {
    width: 38%;
    color: white;
    font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin-left: 70px;
  border-radius: 10px;
  }
  
  .crypto-list ul {
    list-style-type: none;
    padding: 0;
    background-color: #000000;
    margin-left: 60px;
  }
  
  .crypto-list li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 20px;
  
  }
  .crypto-list li:hover {
    border-color:#fb4c9bed;
  }
  
  .crypto-info h3 {
    margin-top: 0;
    color:#fb2e80;
    
  }
 
  .pagination {
    margin-top: 20px;
    text-align: center;
    margin-left: 20px;
    
  }
  
  .crypto-details {
    margin-right: 110px;
    margin-top: 125px;
    background-color: #000000;
    border: 1px solid #ddd;
    padding: 20px;
    color: rgb(255, 255, 255);
    width: 38%;
    border-radius: 10px;
  }
  .crypto-details:hover {
    border-color:#4cfbf2ed;
  }
  
  footer {
    border: 1.5px solid #42005e;
    background-color:transparent;
    color: #fff;
    text-align: center; 
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 99.9%; 
  }
  .footer-text {
    position: absolute;
    left: 140px; /* Ajusta este valor para mover el texto a la derecha */
    bottom: 10px; /* Ajusta este valor para mover el texto verticalmente */
  }
  .crypto-list p,
.crypto-details p {
  font-family: 'Open Sans', sans-serif;
}
.boton-transparente {
  background-color: purple;
  border: 1px solid;
  border-color:   #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 15px; 
  padding: 8px 8px; 
}
.boton-transparente:hover {
  border-color: #b109f4; 
  color: #b109f4; 
  background-color: white;
}
.imagen {
  background-image: url("img/2.png"); 
  background-position: left;
  background-repeat: no-repeat;
  height: 50px; 
  text-align: left;
  color: white;
  font-size: 30px;
  padding: 20px;
}
.fijo {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 38%;
  z-index: 1;
}
.controles-lista {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 32px;
}
.controles-lista > div:first-child {
  margin-right: 20px;
}

.btn-restaurar, .ordenar-por select, .filtrar-por input, .filtrar-por button, .boton-transparente2, .MayorMenor{
  background-color:rgb(0, 0, 0);
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #fb2e80;
  font-size: 15px;
  padding: 8px 8px;
}

.filtrar-por input {
  width: 150px;
}

.btn-restaurar:hover, .ordenar-por select:hover, .filtrar-por input:hover, .filtrar-por button:hover, .boton-transparente2:hover, .MayorMenor:hover {
  border-color: rgb(255, 255, 255);
  color: rgb(7, 7, 7);
  background-color:  #fb2e80;
}
